* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

a {
  text-decoration: none;
  opacity: 0.75;
}
a:hover {
  text-decoration: none;
  opacity: 1;
}

.btn {
  border-radius: 15px;
  padding: 20px 45px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}


.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 85px 0 100px;
  animation: 1.2s fadein 0.5s forwards;
  opacity: 0;


  &__nav {
    display: flex;
    list-style: none;

    li {
      margin: 0 15px;
    }
  }

}

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;

  }

  & h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
  }
  & h3 {
    font: nomral 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
  }
}

@keyframes fadein {
  0% {
    opacity: .1;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}
