* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;


  &__nav {
    list-style: none;

    li>a {
      text-decoration: none;
      opacity: 0.75;
    }
    li>a:hover {
      text-decoration: none;
      opacity: 1;
    }
  }





}
